
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Vui lòng nhập tài khoản gmail bạn đã đăng ký, mật khẩu mới sẽ được gửi tới gmail của bạn.</h3>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <input name="mail" type="text"/>
                            </div>
                            <br />
                            <input class="btn btn-primary btn-block" type="submit" value="Lấy lại mật khẩu" />
                        }
                    </div>

                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="gtco-contact-info">
                        <h3>Accor Hotel</h3>
                        <br />
                        <ul>
                            <li class="address">Nhổn <br> Bắc từ liêm - Hà Nội</li>
                            <li class="phone"><a href="tel://0384567890">+ 0384567890</a></li>
                            <li class="email"><a href="mailto:info@yoursite.com">longtrunghieu2000hehe@gmail.com</a></li>
                            <li class="url"><a href="http://ghotel.somee.com">AccorHotel.Com</a></li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>